body {
    background: whitesmoke;
    margin: 0;
}
div, button, input {
    font-family: Open Sans;
    font-size: 15px;
    color: grey;
    border: 0;
    margin: 5px;
    padding: 3px;
}
#list, #action {
    display: flex;
    flex-wrap: wrap;
}
.action {
    font-size: 25px;
}
.item {
    flex-grow: 1;
    flex-basis: 150px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    text-align: center;
}

.code {
    font-size: 50px;
    font-weight: bolder;
}

.item:not(input):hover {
    background-color: grey;
    color: white;
}
.item:not(input):hover div {
    color: white;
}